---
layout: "layouts/default.liquid"
title: Cody's Resume
---
{% capture summary %}
    {% include 'resume/summary.md' %}
{% endcapture %}
{% capture experience %}
    {% include 'resume/experience.md' %}
{% endcapture %}
{% include 'resume/header.liquid' %}
<section class="resume">
    {{ summary | md }}
</section>
<section class="resume">
    {{ experience |  md }}
</section>
