@font-face {
  font-family: Cabin;
  src: url('/assets/Cabin.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Terminess;
  src: url('/assets/Terminess.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Dyslexic;
  src: url('/assets/OpenDyslexic.woff2') format('woff2');
  font-display: swap;
}
:root {
  --sans-font: Cabin, system-ui, Roboto, Verdana, Helvectica, Arial;
  --mono-font: Terminess, Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  --dyslexic-font: Dyslexic, system-ui, Roboto, Verdana, Helvectica, Arial, sans-serif;
  font-family: var(--sans-font), sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
