<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" type="image/jpg" href="/assets/icon.jpg"/>
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<title>codyconfer.me</title>
<meta name="theme-color" content="#002b36">
<meta name="rating" content="General">
<meta name="geo.region" content="US-CO">
<meta name="geo.placename" content="Fort Collins">
<meta name="geo.position" content="40.5853,-105.0844" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<style>{% include "styles/styles.liquid" %}</style>
<script type="module" src="/prf.elements.js"></script>
</head>
<body>{{ content }}</body>
</html>
