---
layout: "layouts/base.liquid"
---
<prf-header>
    <img src="/assets/icon.jpg" alt="sauce" class="icon">
    <h1><cursor-animation>codyconfer.me</cursor-animation></h1>
</prf-header>
<prf-content>
    {{ content }}
</prf-content>
<prf-footer>
    <prf-nav></prf-nav>
</prf-footer>
