---
layout: "layouts/headers.liquid"
icon: "icon.jpg"
title: "codyconfer.me"
theme-color: "#002b36"
rating: "General"
region: "US-CO"
place: "Fort Collins"
position: "40.5853,-105.0844"
---
<prf-header>
    <a class="logo-link" href="/">
        <img src="/assets/{{ icon | default: 'icon.jpg' }}" alt="sauce" class="icon"/>
        <h1 class="mono">codyconfer
            <blink-animation>.</blink-animation>
            me
        </h1>
    </a>
</prf-header>
<prf-content>
    {{ content }}
</prf-content>
<prf-footer>
    <prf-nav></prf-nav>
    <div class="horizontal-center">
        <span>Built with</span>
        <img src="/assets/11ty.png" alt="11ty" class="logo"/>
        <img src="/assets/lit.svg" alt="lit" class="logo"/>
    </div>
</prf-footer>
