---
layout: "layouts/parts/head.liquid"
---
<prf-header>
    <a class="avatar-link" href="/">
        <img src="/assets/images/{{ icon | default: 'avatar.webp' }}"
             eleventy:widths="96" eleventy:formats="webp" alt="sauce" class="avatar"/>
        <h1 class="mono">
            codyconfer
            <blink-animation>.</blink-animation>
            me
        </h1>
    </a>
</prf-header>
{{ content }}
<prf-footer>
    <prf-nav></prf-nav>
    <div class="horizontal-center">
        <span>Built with</span>
        <a href="https://11ty.dev/" target="_blank">
            <img src="/assets/images/11ty.webp" eleventy:widths="48" eleventy:formats="webp" alt="11ty" class="logo"/>
        </a>
        <span>&</span>
        <a href="https://lit.dev/" target="_blank">
            <img src="/assets/svg/lit.svg" eleventy:widths="48" eleventy:formats="webp" alt="lit" class="logo"/>
        </a>
    </div>
</prf-footer>
