:root {
  /*palette*/
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  /*dark scheme*/
  color-scheme: light dark;
  --background-0: var(--base03);
  --background-1: var(--base02);
  --foreground-0: var(--base2);
  --foreground-1: var(--base3);
  --accent-0: var(--orange);
  --accent-1: var(--green);
  --accent-2: var(--blue);
  --accent-3: var(--violet);
  --highlight-0: var(--magenta);
  --highlight-1: var(--cyan);
  --muted-0: var(--base1);
  --muted-1: var(--base0);
  --muted-2: var(--base00);
  --warn: var(--yellow);
  --error: var(--red);
  /*default colors*/
  color: var(--foreground-0);
  background-color: var(--background-0);
}

@media (prefers-color-scheme: light) {
  :root {
    /*light scheme overrides*/
    --background-0: var(--base2);
    --background-1: var(--base3);
    --foreground-0: var(--base03);
    --foreground-1: var(--base02);
    --muted-0: var(--base00);
    --muted-1: var(--base01);
    --muted-2: var(--base1);
  }
}
