
<div class="profile-info">
    <div class="profile-row name">
        <div>
            <h1 class="m-0">☄</h1>
        </div>
        <div>
            <h1 class="m-0">
                Cody Confer
            </h1>
        </div>
    </div>
    <div class="profile-row jobTitle">
        <div>
            <h2 class="m-0">⌨</h2>
        </div>
        <div>
            <h2 class="m-0">Software Engineer</h2>
        </div>
    </div>
    <div class="profile-row location">
        <div>
            <h3 class="m-0">🗺</h3>
        </div>
        <div>
            <h3 class="m-0">Fort Collins, Colorado | DN70kn</h3>
        </div>
    </div>
    <div class="profile-row callsign">
        <div>
            <h3 class="callsign m-0">∿</h3>
        </div>
        <div>
            <h3 class="callsign m-0">
                <a class="callsign" href="https://www.qrz.com/db/KF0UJS" target="_blank">KF0UJS</a>
            </h3>
        </div>
    </div>
</div>
