hr {
  margin: 2.5rem 0;
}

h3[class*="job"],
h3[class*="school"] {
  margin: 2.5rem 0 0.5rem;
}

h4[class*="job"],
h4[class*="school"] {
  margin: 0.3rem 0;
}

h5[class*="job"] {
  margin: 0.2rem 0;
}

h1[class*="name"] {
  margin: 0 0 0.5rem;
}

h2[class*="jobTitle"] {
  margin: 0 0 0.3rem;
}

h3[class*="location"] {
  margin: 0 0 0.2rem;
}

.first-entry {
  margin-bottom: 0.5rem;
}

.resume-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-image {
  width: 192px;
  height: 192px;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .resume-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .resume-header,
  .profile-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
